@font-face {
	font-family: "Tiempos Fine Bold";
	src: url("../../fonts/TiemposFine-Bold.otf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Quentin';
	src: url("../../fonts/Quentin.otf");

}